[user]
	name = khaosx
	email = misterk71@gmail.com

[credential]
	helper = osxkeychain

[core]
	excludesfile = ~/.gitignore
	editor = nano -r 72

[push]
	default = current

[color]
	ui = true

[color "branch"]
	current = white bold
	local = yellow
	remote = cyan

[color "diff"]
	frag = cyan bold
	meta = white
	new = green bold
	old = red bold
	commit = yellow bold
	whitespace = red reverse

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "status"]
	untracked = cyan

[commit]
	template = ~/.gitmessage

[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	lg = log -M --decorate --graph --oneline
	pur = pull --rebase
	rc = rebase --continue
	sth = stash

[url "git@github.com:"]
	insteadOf = https://github.com/
